@model IEnumerable<QLGV_DTSoft.Data.KeHoachGiaoViec>

@using System.Security.Claims
@{
    var user = Context.User;
    var idNguoidungClaim = user.FindFirstValue("idNguoidung");
    int idnd = int.Parse(idNguoidungClaim);
    var tenndClaim = user.FindFirstValue(ClaimTypes.Name);
    var tenvaitroClaim = user.FindFirstValue(ClaimTypes.Role);
    var tenBophanClaim = user.FindFirstValue("tenBophan");
    var tenKhuvucClaim = user.FindFirstValue("tenKhuvuc");


    ViewData["Title"] = "Danh sách công việc được giao của " + @tenndClaim;
}
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    @if (Model.Any())
                    {
                        @foreach (var congviecduocgiao in Model)
                        {
                            <div class="col-lg-12">
                                <div class="card card-widget task-card">
                                    <div class="card-body">
                                        <div class="d-flex flex-wrap align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <div>
                                                    <h5 class="mb-2">@congviecduocgiao.Tenkehoach</h5>
                                                    <div class="media align-items-center">
                                                        <div class="btn bg-body mr-3">
                                                            <i class="ri-calendar-line"></i> @string.Format("{0:dd/MM/yyyy}", congviecduocgiao.Ngaybatdau) - @string.Format("{0:dd/MM/yyyy}", congviecduocgiao.Ngayketthuc)
                                                        </div>
                                                        @foreach (var thamgia in congviecduocgiao.ThamGia)
                                                        {
                                                            @if (thamgia.IdNd == idnd)
                                                            {
                                                                <div class="btn bg-body mr-2">


                                                                    <span>@thamgia.IdCtNavigation.Chitieu</span>
                                                                    <div><i class="ri-checkbox-line mr-2"></i>Số lượng đã hoàn thành: @thamgia.SlHoanthanh</div>


                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="media align-items-center">
                                                <button type="button" class="btn bg-secondary-light mr-3" data-toggle="modal" data-target="#updateProgressModal_@congviecduocgiao.IdKh"><i class="ri-add-line"></i> Cập nhật tiến độ</button>
                                                <a class="btn bg-secondary-light evaluation-btn" data-toggle="modal" data-target="#evaluationModal" data-idkh="@congviecduocgiao.IdKh">
                                                    <i class="ri-edit-box-line m-0"></i> Xem đánh giá
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade bd-example-modal-lg" id="evaluationModal" tabindex="-1" role="dialog" aria-labelledby="evaluationModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <!-- Nội dung partial view sẽ được hiển thị ở đây -->
                                    </div>
                                </div>
                            </div>

                            <!-- Modal Cập nhật tiến độ -->
                            <div class="modal fade bd-example-modal-lg" id="updateProgressModal_@congviecduocgiao.IdKh" tabindex="-1" role="dialog" aria-labelledby="updateProgressModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateProgressModalLabel">Cập nhật tiến độ</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-action="CapNhatTienDo" method="post">
                                                <input type="hidden" name="idKeHoach" value="@congviecduocgiao.IdKh" />

                                                @foreach (var chitieu in congviecduocgiao.ChiTieus)
                                                {

                                                    <div class="form-group">
                                                        <label>Tiến độ hoàn thành (@chitieu.Chitieu):</label>
                                                        <input type="hidden" name="idCt[@chitieu.IdCt]" value="@chitieu.IdCt" />
                                                        <input type="number" class="form-control" name="tienDoHoanThanh[@chitieu.IdCt]" placeholder="Tiến độ hoàn thành" min="0" max="@chitieu.Doanhso" value="0" required>
                                                    </div>
                                                }

                                                <div class="modal-footer">
                                                    <button type="submit" class="btn btn-primary">Cập nhật</button>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                                </div>
                                            </form>

                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-lg-12">
                            <p>Bạn chưa có kế hoạch nào được giao.</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.evaluation-btn').click(function () {
                var idKh = $(this).data('idkh');
                var url = '/Home/GetEvaluation/' + idKh;

                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (result) {

                        $('#evaluationModal .modal-content').html(result);
                        $('#evaluationModal').modal('show');
                    },
                    error: function (err) {
                        console.log(err)
                    }
                });
            });
        });
    </script>
}
