@using System.Security.Claims;
@model IEnumerable<QLGV_DTSoft.Data.KeHoachGiaoViec>
@{
    ViewData["Title"] = "Danh sách kế hoạch giao việc của bộ phận" + " " + ViewData["tenbophan"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .chitieu-list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .chitieu-item {
        margin-bottom: 10px;
    }

    .chitieu-name {
        font-weight: bold;
    }

    .thanhvien-list {
        list-style-type: none;
        margin-top: 5px;
        margin-left: 15px;
    }

    .thanhvien-item {
        margin-bottom: 5px;
    }

</style>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                            <tr class="ligth">
                                <th>
                                    Tên kế hoạch
                                </th>

                                <th>
                                    Ngày bắt đầu
                                </th>
                                <th>
                                    Ngày kết thúc
                                </th>
                                <th>
                                    Mô tả kế hoạch
                                </th>
                                <th>
                                    Nhân viên được giao kế hoạch
                                </th>
                                <th class="text-center">
                                    Tổng số lượng đã hoàn thành
                                </th>
                                <th class="text-center">
                                    Đánh giá tự động
                                </th>
                                <th class="text-center">Thêm thành viên vào kế hoạch</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Tenkehoach)
                                    </td>
                                    <td>
                                        @string.Format("{0:dd/MM/yyyy}", item.Ngaybatdau)
                                    </td>
                                    <td>
                                        @string.Format("{0:dd/MM/yyyy}", item.Ngayketthuc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Motakh)
                                    </td>
                                    <td>
                                        <ul class="chitieu-list">
                                            @foreach (var chiTieu in item.ChiTieus)
                                            {
                                                <li class="chitieu-item">
                                                    <span class="chitieu-name">@chiTieu.Chitieu</span>
                                                    <ul class="thanhvien-list">
                                                        @foreach (var thanhVien in chiTieu.ThamGia)
                                                        {
                                                            <li class="thanhvien-item">@thanhVien.IdNdNavigation.Hoten</li>
                                                        }
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </td>
                                    <td class="text-center">
                                        @item.ThamGia.Sum(tg => tg.SlHoanthanh)
                                    </td>
                                    @{
                                        if (User.Identity.IsAuthenticated)
                                        {
                                            
                                            string idVaiTro = User.FindFirstValue("idvaitro");
                                            int idVt = int.Parse(idVaiTro);

                                            if (idVt != null)
                                            {
                                                if (idVt == 2)
                                                {
                                                    <td class="text-center">
                                                        <a class="btn bg-warning" asp-action="EvaluateResult" asp-route-id="@item.IdKh"><i class="ri-edit-box-line m-0"></i></a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a class="btn bg-secondary-light mr-3" onclick="addToPlan(@item.IdKh)" data-target="#addToPlan" data-toggle="modal"><i class="ri-user-add-line"></i></a>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td class="text-center">
                                                        <a class="btn bg-warning" asp-action="EvaluateResult" asp-route-id="@item.IdKh" disabled><i class="ri-edit-box-line m-0"></i></a>
                                                    </td>
                                                    <td class="text-center">
                                                        <a class="btn bg-secondary-light mr-3" onclick="addToPlan(@item.IdKh)" data-target="#addToPlan" data-toggle="modal" disabled><i class="ri-user-add-line"></i></a>
                                                    </td>
                                                }
                                            }
                                            else
                                            {
                                                // Không tìm thấy claim "idvaitro"
                                                // Xử lý khi không có claim "idvaitro" tại đây
                                            }
                                        }
                                        else
                                        {
                                            // Người dùng chưa đăng nhập
                                            // Xử lý khi người dùng chưa đăng nhập tại đây
                                        }
                                    }
                                   
                                </tr>
                                
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="addToPlan">
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header d-block text-center pb-3 border-bttom">
                <h3 class="modal-title" id="exampleModalCenterTitle">Thêm thành viên vào kế hoạch giao việc</h3>
            </div>
            <div class="modal-body" id="addToPlanModalContent">
                
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function addToPlan(id) {
            $.ajax({
                url: '@Url.Action("AddtoPlan", "PhancongCongviec")',
                data: { id: id },
                type: 'GET',
                success: function (result) {
                    // Đặt nội dung nhận được vào phần modal-body
                    $('#addToPlanModalContent').html(result);
                },
                error: function () {
                    alert('Đã xảy ra lỗi');
                }
            });
        }
        
    </script>
}



   


