@model IEnumerable<QLGV_DTSoft.Data.KhuVuc>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách khu vực</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
              Tên khu vực
            </th>
            <th>
                Địa chỉ
            </th>
            <th>
                Email
            </th>
            <th>
              Số điện thoại
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenkhuvuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sodienthoai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdKhuvuc">Chỉnh sửa</a> |
                <a asp-action="Details" asp-route-id="@item.IdKhuvuc">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.IdKhuvuc">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
