@model QLGV_DTSoft.Data.NguoiDung

@{
    ViewData["Title"] = "Xóa người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Bạn có chắc chắn muốn xóa @Model.Hoten ?</h3>
<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">
                Tên người dùng
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tennguoidung)
            </dd>
            
            <dt class="col-sm-2">
               Họ và tên người dùng
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Hoten)
            </dd>
            <dt class="col-sm-2">
                Ngày sinh
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Ngaysinh)
            </dd>
            <dt class="col-sm-2">
                Giới tính
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Gioitinh)
            </dd>
            <dt class="col-sm-2">
                Số điện thoại
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Sodienthoai)
            </dd>
            <dt class="col-sm-2">
                Địa chỉ
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Diachi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                Thuộc bộ phận
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdBpNavigation.Tenbophan)
            </dd>
            <dt class="col-sm-2">
                Có vai trò
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IdVtNavigation.Tenvaitro)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="IdNd" />
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <a asp-action="Index">Trở về danh sách</a>
        </form>
    </div>
    
</div>
