@model IEnumerable<QLGV_DTSoft.Data.NguoiDung>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Danh sách nhân viên</h1>
<br />
<p>
    <a asp-action="Create" class="btn btn-success">Thêm mới</a>
</p>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">Danh sách nhân viên</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatable" class="table data-table table-striped">
                        <thead>
                            <tr class="ligth">
                                <th>
                                    Tên tài khoản
                                </th>
                                
                                <th>
                                   Họ tên người dùng
                                </th>
                                
                                <th>
                                    Bộ phận làm việc
                                </th>
                                
                                <th></th>
                            </tr>
                            
                        </thead>
                        <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tennguoidung)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hoten)
                                </td>
                               
                                <td>
                                    @Html.DisplayFor(modelItem => item.IdBpNavigation.Tenbophan)
                                </td>
                               
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.IdNd">Sửa</a> |
                                    <a asp-action="Details" asp-route-id="@item.IdNd">Thông tin chi tiết</a> |
                                    <a asp-action="Delete" asp-route-id="@item.IdNd">Xóa</a>
                                </td>
                            </tr>
                        }
                        </tbody>
                        
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

