
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>DTSoft</title>
      
      <!-- Favicon -->

      <link rel="shortcut icon" href="~/assets/images/favicon.ico" />
      <link rel="stylesheet" href="~/assets/css/backend-plugin.min.css">
      <link rel="stylesheet" href="~/assets/css/backend.css?v=1.0.0">
      <link rel="stylesheet" href="~/assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
      <link rel="stylesheet" href="~/assets/vendor/remixicon/fonts/remixicon.css">
      
      <link rel="stylesheet" href="~/assets/vendor/tui-calendar/tui-calendar/dist/tui-calendar.css">
      <link rel="stylesheet" href="~/assets/vendor/tui-calendar/tui-date-picker/dist/tui-date-picker.css">
      <link rel="stylesheet" href="~/assets/vendor/tui-calendar/tui-time-picker/dist/tui-time-picker.css">

      <link rel="stylesheet" href="~/assets/font/fontawesome/css/all.css">    

  </head>
  <body class="  ">
    <div class="wrapper">
        @Html.Partial("_Sidebar")
        @Html.Partial("_Topbar")
        <div class="content-page">
            <div class="container-fluid">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
                    </ol>
                </nav>

                @RenderBody()
            </div>
        </div>
        
    </div>
    @Html.Partial("_Footer")
    <!-- Backend Bundle JavaScript -->
    <script src="~/assets/js/backend-bundle.min.js"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="~/assets/js/table-treeview.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="~/assets/js/customizer.js"></script>
    
    <!-- Chart Custom JavaScript -->
    <script async src="~/assets/js/chart-custom.js"></script>
    <!-- Chart Custom JavaScript -->
    <script async src="~/assets/js/slider.js"></script>
    
    <!-- app JavaScript -->
    <script src="~/assets/js/app.js"></script>
    
    <script src="~/assets/vendor/moment.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>