@using Microsoft.EntityFrameworkCore;
@using QLGV_DTSoft.Data;
@model IEnumerable<QLGV_DTSoft.Data.VaiTro>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách vai trò</h1>

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tên vai trò
            </th>
            <th>
                Mô tả
            </th>
            <th>
               Quyền
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tenvaitro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mota)
            </td>

                <td style="text-align: left">
                    @if (item.CoQuyenTruyCaps.Count > 0)
                    {
                        DtsoftContext db = new DtsoftContext();
                        var q = db.CoQuyenTruyCaps.Include(q => q.IdQuyenNavigation).Where(q => q.IdVt == item.IdVt);
                        foreach (var q1 in q)
                        {
                            <span style="font-weight:bold">
                                <i>*</i>@q1.IdQuyenNavigation.Tenquyen
                            </span>
                            <br />
                        }
                    }

                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVt">Chỉnh sửa</a> |
                <a asp-action="Themquyen" asp-route-id="@item.IdVt">Phân quyền</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVt">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
